/vendor
/.idea
/.vscode
/.vagrant
/storage/*
!/storage/framework
/storage/framework/*
!/storage/framework/views
/storage/framework/views/*
!/storage/framework/views/.gitkeep
docker-compose.yaml
/database/database.sqlite
