/.env
/.idea
/.vscode
/.vagrant
/.phpunit.result.cache

/docker-compose.yaml
/database/database.sqlite
/database/testing.sqlite

/resources/views/nginx/klever_*
/resources/views/nginx/custom_*

/storage/framework/views/*
/storage/test_library

/vendor

!.gitkeep
