/vendor
/.idea
/.vscode
/.vagrant
/docker-compose.yaml
/database/database.sqlite

/storage/*

!/storage/framework
storage/framework/*
!/storage/framework/views
/storage/framework/views/*
!/storage/framework/views/.gitkeep

!/storage/logs
/storage/logs/*
!/storage/logs/mysql
/storage/logs/mysql/*
!/storage/logs/mysql/.gitkeep
!/storage/logs/nginx
/storage/logs/nginx/*
!/storage/logs/nginx/.gitkeep

